{% extends "!layout.html" %}

{% block extrahead %}

    <meta name="description" content="Easily manage your Home Depot Credit Card through the official Homedepot.com/mycard portal, powered by Citibank. This comprehensive guide covers how to access your account, utilize its features, and maximize benefits for seamless financial management." />
    <meta name="keywords" content="Home Depot credit card, Home Depot login, homedepot.com/mycard, register Home Depot card, Home Depot sign in, Home Depot credit card dashboard, Home Depot online account, how to access Home Depot card, Home Depot card registration, manage Home Depot card online" />
    <meta name="robots" content="index, follow" />
    <title>homedepot.com/mycard - Official Portal to Manage Your Home Depot Credit Mycard</title>
    {{ super() }}
{% endblock %}
